name: B2BTail Suite

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20' # your Node.js version

      # 3. Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4. Install Playwright browsers
      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      # 5. Run Playwright tests
      - name: Run Playwright tests
        run: npx playwright test

      # 6. Upload Playwright Test Results (optional)
      - name: Upload Playwright Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-results
          path: playwright-report/

      # 7. Publish Playwright HTML report to GitHub Pages
      - name: Publish Playwright Report
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
         publish_dir: ./playwright-report    
         publish_branch: gh-pages
         destination_dir: playwright-report

      # 8. Generate Allure HTML report
      - name: Generate Allure HTML Report
        if: always()
        run: |
          mkdir -p allure-report
          allure generate allure-results --clean -o allure-report

      # 9. Upload Allure report as artifact (optional)
      - name: Upload Allure Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-report/

      # 10. Publish Allure HTML report to GitHub Pages
      - name: Publish Allure Report
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report
          publish_branch: gh-pages
          destination_dir: allure-report
